@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  height: 200px;
  width: 100%;
  background-image: url("Images/clouds_banner_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  width: 90%;
  max-width: 350px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

#nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-elem {
  padding: 20px 25px;
  transition: 0.3s;
}

.nav-elem:hover {
  background-color: #f1f1f1;
}

li.selected {
  background-color: #f1f1f1;
}

.nav-link {
  text-decoration: none;
  color: #5d5f7a;
  font-family: "Open Sans", monospace;
  font-size: 17px;
}

#main-content {
  margin: 40px 20px;
}

#flex-container {
  margin-top: 30px;
  display: grid;

  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tekst" "pilt";
  column-gap: 20px;
}

.main-header {
  font-family: "Open Sans", monospace;
  font-weight: 400;
  color: #5d5f7a;
  font-size: 32px;
}

.center {
  text-align: center;
}

.tekst {
  grid-area: "tekst";
  font-family: "Open Sans", monospace;
  font-size: 18px;
  font-weight: 400;
  color: #5d5f7a;
}

.lõik {
  margin: 30px 0px;
}
.esimene-l {
  margin-top: 0px;
}

.pilt {
  grid-area: "pilt";
  background-image: url("Images/m2gi.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  background-color: #f1f1f1;
}

#links,
#social-media {
  margin-top: auto;
  margin-bottom: auto;
}

#footer-links {
  list-style: none;
}

.footer-link {
  font-family: "Open Sans", monospace;
  font-size: 14px;
  color: #5d5f7a;
}

#social-media img {
  width: 50px;
  margin-left: 20px;
}

#map {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#image-cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto;

}

.image-card {
  width: 300px;
  height: 300px;
  border-radius: 60px;
  margin: 20px;
}

.kuutsemae {
  background-image: url("Images/kuutsemae.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.kivioli {
  background-image: url("Images/kivioli.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.nomme {
  background-image: url("Images/nomme.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.viljandi {
  background-image: url("Images/vljd.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-title {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  font-family: "Open Sans", monospace;
  font-weight: 600;
  background-color: rgba(77, 77, 77, 0.479);
  padding: 20px 0;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: "Open Sans", monospace;
  font-weight: 400;
}

#header-h1 {
  color: black;
  font-size: 20px;
  margin: 18px;
  float: left;
}

.header-h2 {
  color: grey;
  font-family: "Open Sans", monospace;
  font-weight: 400;
  font-size: 15px;
  margin: 22px 8px 22px 22px;
}

.header-right img {
  height: 20px;
  margin-top: 20px;
}

.header-right {
  float: right;
  display: flex;
  flex-direction: row;
}

.sort {
  margin: 20px 10px 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 320px 320px 320px;
  grid-row-gap: 20px;
}

.grid-item2 {
  height: 325px;
  text-align: center;
  margin-top: 90px;
}

#side-navigation-links {
  background-color: #f1f1f1;
  opacity: 0.7;
  font-size: 19px;
  color: grey;
  list-style: none;
  padding: 30px 70px 30px 40px;
  justify-content: center;
  overflow: hidden;
}

.side-nav-elem.selected {
  color: black;
  font-weight: bolder;
}

.product-card {
  align-content: center;
  text-align: center;
}

.card img {
  height: 225px;
}

.product-card {
  margin-top: 30px;
}

.product-card h3 {
  font-size: 18px;
}

#footer-container {
  margin-top: -30px
}

@media only screen and (max-width: 500px) {
  #nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-elem {
    width: 100%;
    text-align: center;
  }

  #social-media {
      display: flex;
      flex-direction: row;
      text-align: end;
  }

  #social-media img {
      margin: 0;
      width: 40px;
  }

  .image-card {
    height: 180px;
    width: 180px;
    border-radius: 20%;
    margin: 20px 0;
  }

  .card-title {
    font-size: 16px;
  }

}

@media only screen and (max-width: 750px) {
  .pilt {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  #flex-container {
    display: flex;
    flex-direction: column;
  }
  .pilt {
    background-position: center;
    width: 100%;
    height: 500px;
  }
}

@media only screen and (max-width: 780px) {
  #side-navigation-links {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: 10px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
